* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
 background-color: rgba(27, 1, 1, 0.362);
 padding: 1.5rem;
 border-radius: .5rem;
}

.form input{
    width: 100%;
    padding: 1rem;
    text-align: right;
    font-size: 2rem;
    pointer-events: none;
    margin: 1rem 0;
}

.functionality{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.functionality button {
    padding: 1rem;
    border: none;
    cursor: pointer;
}


.functionality > .equal-btn {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.clear-btn {
    background-color: blue;
    color: white;
}

.backspace-btn {
    background-color: blue;
    color: white;
}

.operator-btn {
    background-color: blue;
    color: white;
}